.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: rgb(29, 1, 85, 1);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.back-btn:hover {
    background-color: transparent;
    border: 2px solid rgb(29, 1, 85, 1);
    color: rgb(29, 1, 85, 1);
    transition: 1s;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: rgb(29, 1, 85, 1);
    line-height: 1.6;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: rgb(29, 1, 85, 1);
}
.form-section {
    display: none;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
.form-section.active {
    display: block;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], input[type="email"], input[type="tel"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(29, 1, 85, 1);
    color: #fff;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: transparent;
    border: 2px solid rgb(29, 1, 85, 1);
    color: rgb(29, 1, 85, 1);
    transition: 1s;
}