body {
    background-color: #c5c5c5;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* HEADER */
header {
    background-color: rgb(29, 1, 85, 1);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 22px;
}

/* CONTAINER */
.container {
    padding: 25px;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

table thead {
    background-color: rgb(29, 1, 85, 1);
    color: #fff;
}

table th, table td {
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    text-align: center; /* ⭐ Centralização adicionada */
}

table tbody tr:hover {
    background: #f0f0f0;
}

.center {
    text-align: center;
}

/* BOTÕES */
.btn {
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary {
    background-color: rgb(29, 1, 85, 1);
    color: #fff;
}

.btn-danger {
    background: #ff0000;
    color: #fff;
}

.btn-small {
    padding: 5px 10px;
}

.btn-full {
    width: 100%;
    margin-top: 10px;
}

/* MODAL */
.modal {
    display: none; 
    position: fixed;
    z-index: 10;
    left: 0; 
    top: 0; 
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 25px;
    width: 400px;
    border-radius: 8px;
    position: relative;
}

.close {
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

form label {
    display: block;
    margin-top: 12px;
    font-weight: 600;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
